
<h1>{{name}}</h1>
<h4>{{desc}}</h4>
<p>{{info}}</p>

<!-- optional image here -->
<img src="/images/{{pic}}" alt="Gibson Les Paul Guitar"> 
{{!-- remember when you are working with exprss and nodes, images and videos need to have these img src thing still --}}